.my-primary {
  color: #ffffff;
  background-color: #0f0047;
  border: none;
}

.my-color {
  color: #0f0047;
}

.home {
  padding-top: 10rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  margin: 0 0.625rem;
}

.nav-link {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}

.nav-link:hover,
.nav-link:active {
  color: #696969;
}

.text-jst {
  text-align: justify;
}

.card:hover {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
